<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Napoleon</display-name>

	<!-- Check for all url if the user is logged in or not ! -->
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>eu.comexis.napoleon.server.utils.SecurityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>/napoleon/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>ownerServlet</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.OwnerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ownerServlet</servlet-name>
		<url-pattern>/napoleon/owner</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tenantServlet</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.TenantServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tenantServlet</servlet-name>
		<url-pattern>/napoleon/tenant</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>realEstateServlet</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.RealEstateServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>realEstateServlet</servlet-name>
		<url-pattern>/napoleon/realEstate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>countryServlet</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.CountryServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>countryServlet</servlet-name>
		<url-pattern>/napoleon/country</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>assocServlet</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.AssocServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>assocServlet</servlet-name>
		<url-pattern>/napoleon/association</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>condoServlet</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.CondoServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>condoServlet</servlet-name>
		<url-pattern>/napoleon/condominium</url-pattern>
	</servlet-mapping>

	<!-- Add this to your web.xml to enable remote API on Java. -->
	<servlet>
		<servlet-name>remoteapi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteapi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>initDatastore</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.InitDatastore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initDatastore</servlet-name>
		<url-pattern>/initDatastore</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ExtractDatastoreAsXML</servlet-name>
		<servlet-class>eu.comexis.napoleon.server.service.ExtractDatastoreAsXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExtractDatastoreAsXML</servlet-name>
		<url-pattern>/ExtractDatastoreAsXML</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>remoteapi</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>initDatastore</web-resource-name>
			<url-pattern>/initDatastore</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>extractDatastore</web-resource-name>
			<url-pattern>/ExtractDatastoreAsXML</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>