.loadingOuter{
	width: 100%;
}

@sprite .loadingInner{
	gwt-image: "loading";
	
	width: 185px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	background-position: 0 0;
	padding-top: 5px
}

.detailRow{
	clear: both;
}

.detailCellValue, .detailCellLabel{
	float: left;
	margin: 5px;
}

.detailCellLabel{
	font-weight: bold;
}
  
.detailCellValue{
	min-width: 200px;
}

.detailTable{
	width: 100%;
	
}