select{
	max-width: 200px;
}


.loadingOuter {
	width: 100%;
}

@sprite .loadingInner {
	gwt-image: "loading";
	width: 185px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	background-position: 0 0;
	padding-top: 5px
}

.detailRow {
	clear: both;
}

.separationRow {
	padding-top: 20px;
}

.detailCellValue,.detailCellLabel,.detailCellInputText,.detailCellInputList,.detailCellInputLabel{
	display: block;
	float: left;
	margin: 5px;
}

.detailCellInputLabel,.detailCellLabel {
	font-weight: bold;
}

.detailCellLabel {
	width: 150px;
}

.detailCellInputLabel {
	padding-top: 5px;
	width:100px
}

.detailCellValue {
	min-width: 200px;
}

.detailCellInputText,.detailCellInputList {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	color: black;
}

.detailCellInputText {
	width: 200px;
	padding: 5px 10px;
}

.largeInput{
	width: 600px;
}

.smallInput{
	width: 50px;
}

.largeLabel{
	width: 140px;
}

.autoLabel{
	width: auto;	
}

.detailTable {
	width: 100%;
}

.validationMessage {
	margin-bottom: 5px;
	font-style: italic;
}

.validationMessageInner {
	padding-left: 35px;
	padding-top: 10px;
}

.validationMessageOuter {
	color: #D63301;
}

.validationMessageOuter > span{
	font-weight: bold;
}

.fieldInError{
	color: #D63301;
	background-color: #FFCCBA;
}

.innerRealEstateList{
	
}

.outerRealEstateList{
	
	
}

.messagePanelOuter{
	
	
}

.messagePanelInner{
	
}

/* left menu */
.leftMenuActionBegin{
	
}

.leftMenuAction{
	
}

.leftMenuSelected{
	color: orange;
}

.clickable{
	cursor: pointer;
}

.clickable:HOVER {
	color: orange;
}

